body {
  /*padding-top: 70px;*/
  background: #004358;
  font-family: 'Noto Sans', sans-serif;
}

table tr td:first-child, table th:first-child {
  text-align: right;
  font-weight: bold;
  /*width: 1px;*/
}

.table-very-condensed > thead > tr > th,
.table-very-condensed > tbody > tr > th,
.table-very-condensed > tfoot > tr > th,
.table-very-condensed > thead > tr > td,
.table-very-condensed > tbody > tr > td,
.table-very-condensed > tfoot > tr > td {
  padding-top: 1px;
  padding-bottom: 1px;
}

.editor {
  height: 500px;
}

.editor-head {
  margin-bottom: 10px;
}

#hmmm-console {
  height: 120px;
}

.simulator-controls {
  padding-bottom: 10px;
}

.scrollfix-enabled.ui-scrollfix {
  position: fixed;
  top: 21px;
}

.hmmm-error {
  background: rgba(255, 50, 50, 0.5);
  position: absolute;
}

#secret-file-select {
  display: none;
}

/* Simulator */

.cpu-register-column {
  width: 30%;
}

.cpu-binary-column {
  width: 35%;
}

.cpu-value-column {
  width: 35%;
}

.ram-address-column {
  width: 20%;
}

.ram-binary-column {
  width: 35%;
}

.ram-value-column {
  width: 45%;
}

.ram-base-column {
  width: 4%;
}

.ram-column {
  width: 6%;
}

.pc-pointer {
  color: #ABD19F;
}

.last-pc-pointer {
  color: #ADC2DB;
}

.code-seg {
  background-color: #F0CAB1;
}

.pc-index {
  background-color: #ABD19F;
}

.last-pc-index {
  background-color: #ADC2DB;
}

.changed-ram {
  background-color: #FFF4BA;
}

.changed-ram-animated {
  animation-duration: 1s;
  animation-name: ram-animation;
}

@keyframes ram-animation {
  from {
    background-color: #FFF000;
  }
  to {
    background-color: #FFF4BA;
  }
}

.selected-ram {
  font-weight: bold;
}

.ram-table-info {
  margin-top: 21px;
}

.color-box {
  border: 1px solid grey;
}

.color-box::after {
  content: '\00A0\00A0\00A0\00A0';
}

/* Bootstrap Overrides */

.dl-horizontal dt {
  width: 260px;
}
.dl-horizontal dd {
  margin-left: 280px;
}

.tooltip-inner {
    white-space:pre-wrap;
}

/* Animations */

.view-container {
  position: relative;
}

.view-frame {
  position: absolute;
  width: 100%;
}

/*.view-frame.slide-forward.ng-enter {
  -webkit-animation: 0.5s slide-in-from-right;
  -moz-animation: 0.5s slide-in-from-right;
  -o-animation: 0.5s slide-in-from-right;
  animation: 0.5s slide-in-from-right;
  z-index: 100;
}

.view-frame.slide-forward.ng-leave {
  -webkit-animation: 0.5s slide-out-to-left;
  -moz-animation: 0.5s slide-out-to-left;
  -o-animation: 0.5s slide-out-to-left;
  animation: 0.5s slide-out-to-left;
  z-index: 99;
}

.view-frame.slide-backward.ng-enter {
  -webkit-animation: 0.5s slide-in-from-left;
  -moz-animation: 0.5s slide-in-from-left;
  -o-animation: 0.5s slide-in-from-left;
  animation: 0.5s slide-in-from-left;
  z-index: 100;
}

.view-frame.slide-backward.ng-leave {
  -webkit-animation: 0.5s slide-out-to-right;
  -moz-animation: 0.5s slide-out-to-right;
  -o-animation: 0.5s slide-out-to-right;
  animation: 0.5s slide-out-to-right;
  z-index: 99;
}*/

@keyframes slide-in-from-right {
  from { left: 100%; }
  to { left: 0; }
}

@-webkit-keyframes slide-in-from-right {
  from { left: 100%; }
  to { left: 0; }
}

@-moz-keyframes slide-in-from-right {
  from { left: 100%; }
  to { left: 0; }
}

@-o-keyframes slide-in-from-right {
  from { left: 100%; }
  to { left: 0; }
}

@keyframes slide-out-to-left {
  from { left: 0; }
  to { left: -100%; }
}

@-webkit-keyframes slide-out-to-left {
  from { left: 0; }
  to { left: -100%; }
}

@-moz-keyframes slide-out-to-left {
  from { left: 0; }
  to { left: -100%; }
}

@-o-keyframes slide-out-to-left {
  from { left: 0; }
  to { left: -100%; }
}

@keyframes slide-in-from-left {
  from { left: -100%; }
  to { left: 0; }
}

@-webkit-keyframes slide-in-from-left {
  from { left: -100%; }
  to { left: 0; }
}

@-moz-keyframes slide-in-from-left {
  from { left: -100%; }
  to { left: 0; }
}

@-o-keyframes slide-in-from-left {
  from { left: -100%; }
  to { left: 0; }
}

@keyframes slide-out-to-right {
  from { left: 0; }
  to { left: 100%; }
}

@-webkit-keyframes slide-out-to-right {
  from { left: 0; }
  to { left: 100%; }
}

@-moz-keyframes slide-out-to-right {
  from { left: 0; }
  to { left: 100%; }
}

@-o-keyframes slide-out-to-right {
  from { left: 0; }
  to { left: 100%; }
}