<div class="row">
  <div class="col-md-8 affix-parent">
    <div ui-scrollfix="+50" data-clampedwidth=".affix-parent" class="sim-fixed">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="simulator-controls ">
            <button class="btn btn-default" ng-click="go('/', 'slide-backward')"><span class="glyphicon glyphicon-arrow-left"></span> Back to Editor</button>
            <div class="btn-group pull-right">
              <button class="btn btn-default" ng-click="reset()" title="Reset Simulator"><span class="glyphicon glyphicon-refresh"></span></button>
              <button class="btn btn-default" ng-click="stepBack()" title="Step Back"><span class="glyphicon glyphicon-arrow-left"></span></button>
              <button class="btn btn-default" ng-click="stepForward()" title="Step Forward"><span class="glyphicon glyphicon-arrow-right"></span></button>
              <button class="btn btn-default" ng-click="pauseExecution()" title="Pause"><span class="glyphicon glyphicon-pause"></span></button>
              <button class="btn btn-primary" ng-click="runProgram()" title="Run!">Run! <span class="glyphicon glyphicon-play"></span></button>
            </div>
          </div>
          <div id="hmmm-console"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-16">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">CPU</h3>
            </div>
            <table class="table table-bordered table-very-condensed">
              <thead>
                <th>Register</th>
                <th>Binary</th>
                <th>Value</th>
              </thead>
              <tr><td> pc</td><td>{{simulator.pc | binary}}</td><td>{{simulator.pc}}</td></tr>
              <tr ng-repeat="register in simulator.registers track by $index">
                <td>{{"r" + $index}}</td>
                <td>{{register | binary}}</td>
                <td>{{register}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">RAM</h3>
      </div>
      <table class="table table-bordered table-very-condensed">
        <thead>
          <th>Address</th>
          <th>Binary Value</th>
          <th>Info</th>
        </thead>
        <tr ng-repeat="address in simulator.ram track by $index" ng-class="{ danger: simulator.boundary > $index }">
          <td><span ng-show="simulator.pc == $index">pc <span class="glyphicon glyphicon-arrow-right"></span></span> {{$index}}</td>
          <td>{{address | binary}}</td>
          <td>{{address}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
