<div class="row">
  <div class="col-md-12 col-md-offset-2">
    <div class="well">
      <h1>About/Credits</h1>
      <p class="lead">
        Harvey-Mudd Miniature Machine (HMMM) is a simulated 16-bit, 24 instruction computer with 256 16-bit words of memory primarily targeted for educational use.
        HMMM was developed for <a href="https://www.cs.hmc.edu/twiki/bin/view/ModularCS1">Harvey Mudd's Introduction to Computer Science course</a> and a full explanation of the machine can be found in the <a href="http://www.cs.hmc.edu/csforall/ComputerOrganization/ComputerOrganization.html#hmmm">CS For All</a> online text.
        Documentation for the language can be found <a href="http://www.cs.hmc.edu/~cs5grad/cs5/hmmm/documentation/documentation.html">on Harvey Mudd's website</a>.
      </p>
      <p class="lead">
        HMMM.js and the HMMM Simulator were built by Sean Hickey.
        Source code is available <a href="https://github.com/shickey/HMMM.js">on GitHub</a>.
      </p>
      <p class="lead">
        HMMM.js is a Javascript implementation of a HMMM assembler and simulator written in the style of <a href="http://nodejs.org/">node.js</a>.
      </p>
      <p class="lead">
        The HMMM Simulator uses HMMM.js as a backend for assembly and simulation of the language. In addition, the HMMM Simulator uses several excellent open source projects:
      </p>
      <p class="lead">
        <span class="glyphicon glyphicon-chevron-right"></span> <a href="https://angularjs.org/">AngularJS</a>
      </p>
      <p class="lead">
        <span class="glyphicon glyphicon-chevron-right"></span> <a href="http://getbootstrap.com/">Bootstrap</a>
      </p>
      <p class="lead">
        <span class="glyphicon glyphicon-chevron-right"></span> <a href="http://ace.c9.io/">Ace Editor</a>
      </p>
      <p class="lead">
        <span class="glyphicon glyphicon-chevron-right"></span> <a href="https://github.com/eligrey/FileSaver.js">FileSaver.js</a>
      </p>
    </div>
  </div>
</div>