<div class="row">
  <div class="col-md-16">
    <div class="alert alert-info alert-dismissable" role="alert" ng-show="showInstructions">
      <button type="button" class="close" data-dismiss="alert" ng-click="dismissInstructions()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Instructions:</strong> Write HMMM code on the left side, then click "Assemble!" to build your binary. Once you have a binary on the right, click "Simulate!" to run it!
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">HMMM Editor</h4>
      </div>
      <div class="panel-body">
        <div class="editor-head">
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Try an Example! <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li ng-repeat="example in examples track by $index"><a href="#" ng-click="selectExample($index)">{{example.name}}</a></li>
            </ul>
          </div>
          <button class="btn btn-default" ng-click="loadFile()">Load File <span class="glyphicon glyphicon-floppy-open"></span></button>
          <input type="file" id="secret-file-select" accept=".hmmm" onchange="angular.element(this).scope().fileSelected(this)" />
          <button class="btn btn-default" ng-click="saveFile()">Save File <span class="glyphicon glyphicon-floppy-save"></span></button>
          <a class="btn btn-default" href="http://www.cs.hmc.edu/~cs5grad/cs5/hmmm/documentation/documentation.html" target="_blank">Docs <span class="glyphicon glyphicon-book"></span></a>
          <button class="btn btn-primary pull-right" ng-click="assemble()">Assemble! <span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
        <div id="hmmm-editor" class="editor"></div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Binary</h4>
      </div>
      <div class="panel-body">
        <div class="editor-head text-right">
          <button class="btn btn-primary" ng-click="go('/simulate', 'slide-forward')" ng-disabled="!enableSimulation">Simulate! <span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
        <div id="bin-editor" class="editor"></div>
      </div>
    </div>
  </div>
</div>