<div class="row">
  <div class="col-md-6 affix-parent">
    <div ui-scrollfix="+50" data-clampedwidth=".affix-parent" class="sim-fixed">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="simulator-controls ">
            <button class="btn btn-default" ng-click="go('/', 'slide-backward')"><span class="glyphicon glyphicon-arrow-left"></span> Back to Editor</button>
            <div class="btn-group pull-right">
              <button class="btn btn-default" ng-click="reset()" title="Reset Simulator"><span class="glyphicon glyphicon-refresh"></span></button>
              <button class="btn btn-default" ng-click="stepBack()" title="Step Back"><span class="glyphicon glyphicon-arrow-left"></span></button>
              <button class="btn btn-default" ng-click="stepForward()" title="Step Forward"><span class="glyphicon glyphicon-arrow-right"></span></button>
              <button class="btn btn-default" ng-click="pauseExecution()" title="Pause"><span class="glyphicon glyphicon-pause"></span></button>
              <button class="btn btn-primary" ng-click="runProgram()" title="Run!">Run! <span class="glyphicon glyphicon-play"></span></button>
            </div>
          </div>
          <div id="hmmm-console"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-16">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">CPU</h3>
            </div>
            <table class="table table-bordered table-very-condensed">
              <thead>
                <th class="cpu-address-column">Register</th>
                <th class="cpu-binary-column">Binary</th>
                <th class="cpu-hex-column">Hex</th>
                <th class="cpu-value-column">Value</th>
              </thead>
              <tr><td>pc</td><td>{{simulator.pc | binary}}</td><td>{{simulator.pc | nibble}}</td><td>{{simulator.pc}}</td></tr>
              <tr><td>ir</td><td>{{simulator.ir | binary}}</td><td>{{simulator.ir | nibble}}</td><td>{{simulator.ir | instruction}}</td></tr>
              <tr ng-repeat="register in simulator.registers track by $index">
                <td>{{"r" + $index}}</td>
                <td>{{register | binary}}</td>
                <td>{{register | nibble}}</td>
                <td>{{register}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">RAM</h3>
      </div>
      <table class="table table-bordered table-very-condensed">
        <thead>
          <th class="ram-base-column"></th>
          <th ng-repeat="i in range(16)" class="ram-column text-right">{{ i | hex }}</th>
        </thead>
        <tr ng-repeat="i in range(16)">
          <td class="text-right">{{i * 16 | hex}}</td>
          <td ng-repeat="j in range(16)" ng-class="{ info: simulator.codeSegmentBoundary > (i * 16) + j , warning: simulator.lastPc == (i * 16) + j, danger: simulator.pc == (i * 16) + j, 'changed-ram': simulator.ram[(i * 16) + j] != 0 }" class="text-right">{{ simulator.ram[(i * 16) + j] | nibble }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
